@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,700');

* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}
#foot {
    background-color: #2C3E50 !important;
}
#particles-js {
  
}
#particles-js-nav {
    /*position: relative;
    width: 100%;
    height: 100vh;
    background-color: #000;
    background-image: url("http://preview.ibb.co/c9jYzv/cover.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;*/
}
canvas.particles-js-canvas-el {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}

.home {
    position: absolute;
    width: 100%;
    height: 100%;
}

h1 {
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    color: #000;
    width: 500px;
    margin: 0 auto;
    font-size: 80px;
    font-weight: 100;
    text-align: center;
    transform: translate(-50%,-50%);
    background: rgba(255, 255, 255, 0.72);
}
